httpx
opencc
packaging
prompt_toolkit
PyYAML
re_edge_gpt
Requests
tenacity
tiktoken
tqdm
colorlog
openpyxl
orjson
EbookLib
beautifulsoup4
playsound3

# Tokenizer
budoux
# Optional tokenizers
# jieba
# pkuseg
# Very heavyweight tokenizer, manual installation recommended
# numpy < 2.0.0
# hanlp

# 额外依赖
jieba==0.42.1
lemminflect==0.2.3
playwright==1.43.0
sudachipy==0.6.8
sudachidict-full==20240409
